# infinity_autobackup

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/pexip_infinity_autobackup/resource.tf"}}


{{ .SchemaMarkdown }}
## Import

Autobackup configurations can be imported using their resource ID:

```bash
terraform import pexip_infinity_autobackup.example 1
```
