# infinity_azure_tenant

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/pexip_infinity_azure_tenant/resource.tf"}}


{{ .SchemaMarkdown }}
## Import

Azure tenants can be imported using their resource ID:

```bash
terraform import pexip_infinity_azure_tenant.example 123
```
