---
page_title: "pexip_infinity_dns_server Resource - terraform-provider-pexip"
subcategory: ""
description: |-
  Manages a Pexip Infinity DNS server configuration.
---

# pexip_infinity_dns_server (Resource)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/pexip_infinity_dns_server/basic.tf"}}


{{ .SchemaMarkdown }}
## Import

Import is supported using the following syntax:

```shell
terraform import pexip_infinity_dns_server.example 123
```

Where `123` is the numeric resource ID of the DNS server.
