# infinity_gateway_routing_rule

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/infinity_gateway_routing_rule/resource.tf"}}


{{ .SchemaMarkdown }}
## Import

Gateway routing rules can be imported using their resource ID:

```bash
terraform import infinity_gateway_routing_rule.example 123
```
