# pexip_infinity_conference (Resource)

{{ .Description | trimspace }}

There are multiple conference types in Infinity, each designed for different use cases. These examples use the nested attribute `aliases` to assign one or more aliases to a conference. Additionally the `conference_alias` resource can also be used if desired.

## Example Usage

### Virtual Meeting Room

{{tffile "examples/resources/pexip_infinity_conference/conference.tf"}}

### Virtual Reception

This IVR only matches four digits for routing to other conferences.

{{tffile "examples/resources/pexip_infinity_conference/two_stage_dialing.tf"}}

### Virtual Auditorium

This VA will auto-mute all guests as they join.

{{tffile "examples/resources/pexip_infinity_conference/lecture.tf"}}

### Media Playback Service

Multiple resources are needed to create a media playback service. In this example, a single media file is added to a playlist. The service is configured to disconnect the participant once the playlist has finished.

{{tffile "examples/resources/pexip_infinity_conference/media_playback.tf"}}

### Test Call Service

{{tffile "examples/resources/pexip_infinity_conference/test_call.tf"}}


{{ .SchemaMarkdown }}

## Import

Import is supported using the following syntax:

```shell
terraform import pexip_infinity_conference.example 123
```

Where `123` is the numeric resource ID of the conference.
