# infinity_adfs_auth_server

Manages an ADFS OAuth 2.0 auth server configuration with the Infinity service.

## Example Usage

{{tffile "examples/resources/pexip_infinity_adfs_auth_server/resource.tf"}}


{{ .SchemaMarkdown }}
## Import

ADFS auth servers can be imported using their resource ID:

```bash
terraform import pexip_infinity_adfs_auth_server.example 123
```
