# infinity_azure_tenant

Manages a Microsoft Teams Azure tenant with the Infinity service. Azure tenants are used to configure Microsoft Teams integration and allow Pexip Infinity to connect with specific Microsoft tenants for cloud-based collaboration.

## Example Usage

{{tffile "examples/resources/pexip_infinity_azure_tenant/resource.tf"}}


{{ .SchemaMarkdown }}
## Import

Azure tenants can be imported using their resource ID:

```bash
terraform import pexip_infinity_azure_tenant.example 123
```
