# infinity_role

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/infinity_role/resource.tf"}}


{{ .SchemaMarkdown }}
## Import

Roles can be imported using their resource ID:

```bash
terraform import infinity_role.example 123
```
