# infinity_recurring_conference

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/pexip_infinity_recurring_conference/resource.tf"}}


{{ .SchemaMarkdown }}
## Import

Recurring conferences can be imported using their resource ID:

```bash
terraform import pexip_infinity_recurring_conference.example 123
```
