# infinity_mjx_integration

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/infinity_mjx_integration/resource.tf"}}


{{ .SchemaMarkdown }}
## Import

MJX integrations can be imported using their resource ID:

```bash
terraform import infinity_mjx_integration.example 123
```
