---
page_title: "pexip_infinity_worker_vm Resource - terraform-provider-pexip"
subcategory: ""
description: |-
  Manages a Pexip Infinity worker VM configuration.
---

# pexip_infinity_worker_vm (Resource)

{{ .Description | trimspace }}

Creating a conferencing node resource only creates the configuration in Infinity, as in the basic usage example below. The actual VM must be deployed as a separate resource using the node config that is returned by Infinity (described in the next section). This config is the XML data that is generated when manually creating a conferencing node. The data is stored in the `worker_vm` property `config`.

A conferencing node can perform one of two roles: transcoding or proxying. The role of the node is determined by the value of the `node_type` property. For transcoding set this to `CONFERENCING`, or omit this argument as this is the default. For proxying nodes set this to `PROXYING`. Additionally, a transcoding node can be configured as a cloud bursting node. Bursting nodes should always have `enable_distributed_database` set to `false` and the appropriate tag or label (depending on the cloud provider) containing the name of the manager must also be set on the VM.

## Example Usage

### Basic Usage

{{tffile "examples/resources/pexip_infinity_worker_vm/basic_usage.tf"}}

### Deploy a Conferencing Node in GCP

This example shows how to deploy a conferencing node in GCP with a static NAT address. When a conferencing node is deployed in GCP, the worker VM configuration is used as the value for the key `conferencing_node_config` in the GCP VM metadata. Without this metadata, the conferencing node will never sync with the manager. The version of Infinity being deployed depends on the disk image that is specified in the `boot_disk` block. The image version must match the version of Infinity that has been deployed. For instructions on creating Infinity disk images in GCP, see the [Pexip documentation](https://docs.pexip.com/admin/gcp_disk_images.htm).

For more info on deploying a VM in GCP with Terraform, see the [Google Compute Instance documentation](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance).

{{tffile "examples/resources/pexip_infinity_worker_vm/gcp_basic.tf"}}

{{ .SchemaMarkdown }}
## Import

Import is supported using the following syntax:

```shell
terraform import pexip_infinity_worker_vm.example 123
```

Where `123` is the numeric resource ID of the worker VM.